:root {
    --bg-color: hsl(0, 0%, 8%);
    --headerText-color: hsl(0, 0%, 100%);
    --contactButtonText-color: hsl(0, 0%, 100%);
    --contactButtonBorder-color: hsl(153, 71%, 59%);
    --aboutTitleBorder-color: hsl(153, 71%, 59%);
    --aboutBorder-color:hsl(0, 0%, 100%);
    --aboutText-color:hsl(0, 0%, 100%);
    --knowledgeText-color:hsl(0, 0%, 100%);
    --projectsText-color:hsl(0, 0%, 100%);
    --projectsTechText-color:hsl(0, 0%, 85%);
    --contactBg-color: hsl(0, 0%, 14%);
    --contactText-color:hsl(0, 0%, 100%);
    --contactParagraphText-color:hsl(0, 0%, 85%);
    --contactInputText-color:hsl(0, 0%, 85%);
    --contactFocusBorder-color: hsl(153, 71%, 59%);
    --contactErrorText-color: hsl(7, 100%, 68%);
    --contactErrorBorder-color: hsl(7, 100%, 68%);
    --footertBg-color: hsl(0, 0%, 14%);
    --footerText-color:hsl(0, 0%, 100%);
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    width: 100vw;
    height: 100%;
    background-color: var(--bg-color);

}

header, .about, .about .about_text, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    position: absolute;
    width: 17rem;
    left: calc(50% - 8.5rem);
    color: var(--headerText-color);
}

header .header_title, footer .header_title {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 2rem auto;
}

header .header_mediaList{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.about {
    position: relative;
    color: var(--aboutText-color);
    overflow: hidden;
    padding: 0 1.6rem;
    width: 100%;
}

.about .about_photo {
    width: 17rem;
    height: 38rem;
    margin-bottom: 4rem;
}
.about .about_ringsPattern {
    position: absolute;
    top: 12rem;
    right: 50%;
    z-index: -1;
}
.about .about_circlePattern {
    position: absolute;
    top: 25rem;
    right: -6.5rem;
}

.about .about_text .about_titleParagraph {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 2.4rem;
}

.about .about_text .about_titleParagraph span {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

.about .about_text .about_titleParagraph span::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: -.5rem;
    width: 95%;
    height: .5rem;
    background-color: var(--aboutTitleBorder-color);
}

.about .about_text .about_descriptionParagraph {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2.4rem;
}
.about .about_text .contactButton, .contactButton, .projects .projectBox .projectBox_links a, .contact .contactForm .contactForm_sendBtn {
    color: var(--contactButtonText-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.6rem;
    padding-bottom: 1rem;
    margin-bottom: 8rem;
    font-weight: 700;
    border-bottom: .2rem solid var(--contactButtonBorder-color);
}

.knowledge {
    position: relative;
    width: 100%;
    padding: 0 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--knowledgeText-color);
    padding-bottom: 8rem;
    overflow: hidden;
}

.knowledge::after, .knowledge::before {
    content: '';
    display: block;
    width: 100%;
    height: .2rem;
    background-color: var(--aboutBorder-color);
}

.knowledge .knowledgeBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.4rem auto;
}

.knowledge .knowledgeBox:first-child {
    margin-top: 4rem;
}
.knowledge .knowledgeBox:last-child {
    margin-bottom: 4rem;
}

.knowledge .knowledgeBox [class^="knowledgeBox_header"] {
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 700;
}
.knowledge .knowledgeBox [class^="knowledgeBox_paragraph"] {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 500;
}

.knowledge .knowledgeBox:nth-child(1) h1, .knowledge .knowledgeBox:nth-child(2) h1{
    text-transform: uppercase;
}

.knowledge img {
    position: absolute; 
    bottom: 1.5rem;
    left: 50%;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1.6rem;
}

.projects .projectsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects .projectsHeader h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--projectsText-color);
}
.projects .projectsHeader .contactButton {
    margin-bottom: 0;
}

.projects .projectBox:last-child {
    margin-bottom: 8rem;
}
.projects .projectBox img {
    display: inline-block;
    width: 100%;
    object-fit: contain;
    margin: 4rem auto;
}

.projects .projectBox .projectBox_projectName {
    color: var(--projectsText-color);
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 700;
}

.projects .projectBox .projectBox_tech {
    display:  flex;
    margin-top: 1rem;
}

.projects .projectBox .projectBox_tech .projectBox_projectTechText {
    color: var(--projectsTechText-color);
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    margin-right: 1.8rem;
}

.projects .projectBox .projectBox_links {
    margin-top: 2rem;
}

.projects .projectBox .projectBox_links a{
    margin-right: 3rem;
}

.contact {
    position: relative;
    padding: 6rem 1.6rem 0 1.6rem;
    background-color: var(--contactBg-color);
    overflow-y: hidden;
}

.contact::after {
    content: '';
    display: block;
    width: 100%;
    height: .1rem;
    background-color: var(--aboutBorder-color);
}
.contact .contactText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--contactText-color);
}
.contact .contactText h1{
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.contact .contactText .contactText_paragraph {
    color: var(--contactParagraphText-color);
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5rem;
}

.contact .contactForm form {
    display: flex;
    flex-direction: column;
}

.contact .contactForm form .contactForm_wrap {
    position: relative;
}

.contact .contactForm form .contactForm_wrap input {
    position: relative;
    background: none;
    height: 4rem;
    width: 100%;
    border: none;
    border-bottom: .1rem solid var(--contactParagraphText-color);
    margin-bottom: 3rem;
    color: var(--contactInputText-color);
    padding-left: 2.4rem;
    padding-top: 0;
}

.contact .contactForm form .contactForm_wrap input:focus {
    outline: none;
    border-color: var(--contactFocusBorder-color);
}

.contact .contactForm form .contactForm_wrap p.error {
    position: absolute;
    display: none;
    bottom: 1rem;
    right: 0;
    font-size: 1.2rem;
    color: var(--contactErrorText-color);
}

.contact .contactForm form .contactForm_wrap textarea {
    background: none;
    border:none;
    border-bottom:.1rem solid var(--contactParagraphText-color);
    width: 100%;
    padding-left: 2.4rem;
    color: var(--contactInputText-color);
    margin-bottom: 3rem;
}

.contact .contactForm form .contactForm_wrap textarea:focus {
    outline: none;
    border-color: var(--contactFocusBorder-color);
}

.contact .contactForm form .contactForm_wrap label {
    position: absolute;
    top: 0;
    left: 2.4rem; 
    color: var(--contactInputText-color);
    text-transform: uppercase;
    font-size: 1.6rem;
}

.contact .contactForm form .contactForm_sendBtn {
    background: none;
    border: none;
    border-bottom: .2rem solid var(--contactButtonBorder-color);
    align-self: flex-end;
}

.contact img {
    position: absolute;
    right: 50%;
    bottom: 8rem;
}

footer {
    position: relative;
    background-color: var(--footertBg-color);
    width: 100%;
    color: var(--footerText-color);
    padding: 2rem 0 4rem 0;
}

footer a {
    margin-right: 2.6rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        left: 0;
        padding: 0 3rem;
    }

    header .header_mediaList {
        justify-content: flex-end;
    }

    header .header_mediaList a {
        margin-left: 3rem;
    }

    .about {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
    }
    .about .about_text {
        width: 60%;
        padding-top: 8rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .about .about_text .about_titleParagraph, .about .about_text .about_descriptionParagraph {
        text-align: start;
    }

    .about .about_text .about_titleParagraph {
        font-size: 7.2rem;
        line-height: 7.2rem;
        margin-bottom: 6rem;
    }
    .about .about_text .about_descriptionParagraph {
        margin-bottom: 3rem;
        font-size: 1.8rem;
        line-height: 2.8rem;
    }
    .about .about_photo {
        width: 32rem;
        height: 60rem;
    }

    .about .about_ringsPattern {
        top: 0rem;
        right: 75%;
        z-index: -1;
    }
    .about .about_circlePattern {
        position: absolute;
        top: 47rem;
        right: -6.5rem;
    }
}