:root {
    --bg-color: hsl(0, 0%, 8%);
    --headerText-color: hsl(0, 0%, 100%);
    --contactButtonText-color: hsl(0, 0%, 100%);
    --contactButtonBorder-color: hsl(153, 71%, 59%);
    --aboutTitleBorder-color: hsl(153, 71%, 59%);
    --aboutBorder-color:hsl(0, 0%, 100%);
    --aboutText-color:hsl(0, 0%, 100%);
    --knowledgeText-color:hsl(0, 0%, 100%);
    --projectsText-color:hsl(0, 0%, 100%);
    --projectsTechText-color:hsl(0, 0%, 85%);
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    width: 100vw;
    height: 100%;
    background-color: var(--bg-color);

}

header, .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    width: 17rem;
    left: calc(50% - 8.5rem);
    color: var(--headerText-color);
}

header .header_title {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 2rem auto;
}

header .header_mediaList {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.about {
    position: relative;
    color: var(--aboutText-color);
    overflow: hidden;
    padding: 0 1.6rem;
    width: 100%;
}

.about .about_photo {
    width: 17rem;
    height: 38rem;
    margin-bottom: 4rem;
}
.about .about_ringsPattern {
    position: absolute;
    top: 12rem;
    right: 50%;
    z-index: -1;
}
.about .about_circlePattern {
    position: absolute;
    top: 25rem;
    right: -6.5rem;
}

.about .about_titleParagraph {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 2.4rem;
}

.about .about_titleParagraph span {
    position: relative;
    display: inline-block;
}

.about .about_titleParagraph span::after {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    bottom: -.5rem;
    width: 100%;
    height: .5rem;
    background-color: var(--aboutTitleBorder-color);
}

.about .about_descriptionParagraph {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2.4rem;
}
.contactButton, .projects .projectBox .projectBox_links a {
    color: var(--contactButtonText-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.6rem;
    padding-bottom: 1rem;
    margin-bottom: 8rem;
    font-weight: 700;
    border-bottom: .2rem solid var(--contactButtonBorder-color);
}

.knowledge {
    position: relative;
    width: 100%;
    padding: 0 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--knowledgeText-color);
    margin-bottom: 8rem;
}

.knowledge::after, .knowledge::before {
    content: '';
    display: block;
    width: 100%;
    height: .1rem;
    background-color: var(--aboutBorder-color);
}

.knowledge .knowledgeBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.4rem auto;
}

.knowledge .knowledgeBox:first-child {
    margin-top: 4rem;
}
.knowledge .knowledgeBox:last-child {
    margin-bottom: 4rem;
}

.knowledge .knowledgeBox [class^="knowledgeBox_header"] {
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 700;
}
.knowledge .knowledgeBox [class^="knowledgeBox_paragraph"] {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 500;
}

.knowledge .knowledgeBox:nth-child(1) h1, .knowledge .knowledgeBox:nth-child(2) h1{
    text-transform: uppercase;
}

.knowledge .knowledge_ringsPattern {
    position: absolute; 
    bottom: -6.5rem;
    left: 50%;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1.6rem;
}

.projects .projectsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects .projectsHeader h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--projectsText-color);
}
.projects .projectsHeader .contactButton {
    margin-bottom: 0;
}

.projects .projectBox:last-child {
    margin-bottom: 8rem;
}
.projects .projectBox img {
    display: inline-block;
    width: 100%;
    object-fit: contain;
    margin: 4rem auto;
}

.projects .projectBox .projectBox_projectName {
    color: var(--projectsText-color);
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 700;
}

.projects .projectBox .projectBox_tech {
    display:  flex;
    margin-top: 1rem;
}

.projects .projectBox .projectBox_tech .projectBox_projectTechText {
    color: var(--projectsTechText-color);
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    margin-right: 1.8rem;
}

.projects .projectBox .projectBox_links {
    margin-top: 2rem;
}

.projects .projectBox .projectBox_links a{
    margin-right: 3rem;
}